@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: inherit;
  overflow: hidden;
  

}

body {
  height: 100vh;
  display: flex;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  justify-content: center;
  align-items: center;
}

.main {
  height: 38.5rem;
  width: 62.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  padding: 0;
  margin: 0;
}
.left {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255, 0.55);
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 10px 0px 0px 10px;
  left: 0;
}

.right {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: rgb(255, 255, 255, 0.3);
  margin: 0;
  padding: 0;
  right: 0;
  position: absolute;
  border-radius: 0px 10px 10px 0px;
}
.player {
  position: absolute;
  top: 15%;
  font-weight: 600;
  font-size: 40px;
  color: #1f1f1f;
  padding: 0;
  margin: 0;
}
.number {
  position: absolute;
  top: 25%;
  font-size: 75px;
  font-weight: 500;
  color: #8b2a42;
  padding: 0;
  margin: 0;
}



button {
  height: 50px;
  width: 200px;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 30px;
  font-weight: 500;
  border: transparent;
  font-size: 17px;
}

.new {
  top: 10%;
}
.roll {
  bottom: 25%;
}
.hold {
  bottom: 15%;
  width: 120px;
}
.current {
  height: 6rem;
  width: 12rem;
  background-color: #bf2e6a;
  position: absolute;
  bottom: 15%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  color: white;
  
  
}
.current-number {
  font-size: 35px;
  transform: translateY(-30PX);
  
}

.die {
  height: 100px;
  width: 100px;
  background-color: white;
  position: absolute;
  top: 35%;
  
}